<% include ./partials/header.ejs %>


    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %></h1>
        <% if (title == "Contact"){ %>
    <a type="button" class="btn btn-primary" href="./health-list" role ="button" >Contact List</button>

      <%  } %>

        

       </div>
    </div>

<% include ./partials/footer.ejs %>

